@keyframes wiggle {
  0% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg) scale(1.5);
  }
  to {
    transform: rotateZ(360deg) scale(1.5);
  }
}

@keyframes rotateAndScale {
  0% {
    transform: rotateZ(0deg) scale(0.5);
  }
  50% {
    transform: rotateZ(180deg) scale(0.8);
  }
  100% {
    transform: rotateZ(360deg) scale(0.5);
  }
}

@keyframes keyboard-1 {
  0% {
    transform: translateX(1rem);
  }
  33% {
    transform: translateX(-1rem);
  }
  66% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(-1rem);
  }
}

@keyframes keyboard-2 {
  0% {
    transform: translateX(-1rem);
  }
  33% {
    transform: translateX(1rem);
  }
  66% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(1rem);
  }
}

@keyframes blowUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}
