@keyframes wiggle {
  0% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg) scale(1.5);
  }
  to {
    transform: rotateZ(360deg) scale(1.5);
  }
}

@keyframes rotateAndScale {
  0% {
    transform: rotateZ(0deg) scale(0.5);
  }
  50% {
    transform: rotateZ(180deg) scale(0.8);
  }
  100% {
    transform: rotateZ(360deg) scale(0.5);
  }
}

@keyframes keyboard-1 {
  0% {
    transform: translateX(1rem);
  }
  33% {
    transform: translateX(-1rem);
  }
  66% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(-1rem);
  }
}

@keyframes keyboard-2 {
  0% {
    transform: translateX(-1rem);
  }
  33% {
    transform: translateX(1rem);
  }
  66% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(1rem);
  }
}

@keyframes blowUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cycleColor {
  0% {
    color: var(--color-primary);
    filter: invert(0);
  }
  25% {
    filter: invert(100%);
  }
  50% {
    color: var(--color-secondary);
    filter: invert(0);
  }
  75% {
    color: var(--color-secondary);
    filter: invert(100%);
  }
  100% {
    color: var(--color-primary);
    filter: invert(0);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
    font-size: 1rem;
    color: var(--color-primary);
    filter: invert(0);
  }
  25% {
    font-size: 2rem;
    transform: translate(1rem, -1rem);
    filter: invert(100%);
  }
  50% {
    font-size: 2.5rem;
    transform: translate(2rem, 0rem);
    color: var(--color-secondary);
    filter: invert(0);
  }
  75% {
    font-size: 3rem;
    transform: translate(0rem, 1rem);
    color: var(--color-secondary);
    filter: invert(100%);
  }
  100% {
    font-size: 1rem;
    transform: translate(0, 0);
    color: var(--color-primary);
    filter: invert(0);
  }
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(200deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(290deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
