.button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  transition: .4s;
  z-index: 99;
  &:hover {
    cursor: pointer;
  }

  &--light {
    background-color: #fff;
  }

  &--dark {
    background-color: #000;
    color: #fff;
  }

  &--dark, &--light {
    filter: invert(25%);
    &:focus {
      transform: scale(0.8) rotateZ(-5deg);
    }
    &:hover {
      transform: rotateZ(5deg) rotateY(30deg);
      filter: invert(0%);
    }
  }

  &--normal {
    background-color: var(--color-primary);
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  &--barrel-roll {
    &:active {
      transition: 0.5s;
      animation: rotate 0.5s infinite linear forwards;
    }
  }
}
