:root {
  --color-primary: #1e90ff;
  --color-secondary: #ff3561;
  --gradient: linear-gradient(to bottom, var(--color-primary) 0%,var(--color-secondary) 100%);
  --invert: invert(0%);
  --invert-color: #fff;
}

body {
  font-family: 'system-ui', verdana;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--invert-color);
  // overflow-x: hidden;
  filter: var(--invert);
}
